html, body {
    height: 100%;

    font-family: medium-content-sans-serif-font,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    letter-spacing: 0;
    font-weight: 400;
    font-style: normal;

    color: black;
    /* font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif!important; */
}

body {
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    margin: 0 auto;
}

img { max-width: 100%; }

a { text-decoration: none; color: #1ED663; }
a:visited { text-decoration: none; color:#1ED663; }
a:focus { text-decoration: none; color:#1ED663; }
a:active { text-decoration: none; color:#1ED663; }
a:hover { text-decoration: underline; color:#1ED663; }

/* 
a.nav-item a { color:#1ED663 }
a.nav-item a:visited { text-decoration: none; color:#7f8c8d; }
a.nav-item a:hover { text-decoration: none; color:#1ED663; }
a.nav-item a:focus { text-decoration: none; color:#1ED663; } */

h1 {
    height: 50px;
    line-height: 50px;
}
h2 { margin-top: 0 }
h5 {
    color: darkgray;
    margin: 0;
    font-weight: normal;
}

.logo {
    color: #333 !important;
    text-decoration: none !important;

    line-height: 110px;
    max-height: 100px;
    overflow: hidden;

    float: left;
}

.logo img{
    padding-top: 10px;
    height: 80px;
    margin-right: 10px;
    float: left;
}

/* STRUCTURE */
.header {
    padding: 0 10px;
    line-height: 100px;
    border-bottom: 1px solid lightgray;
}
.nav {
    float: right;
    margin-left: 10px;
}
.content {
    flex: 1 0 auto;
    padding: 0 20px 20px 20px;
}
.footer {
    border-top: 1px solid lightgray;
    flex-shrink: 0;
    padding: 20px 10px;
}
.links {
    float: right;
}

/* BLOG */
.blog-entry {
    list-style-type: none;
    border: 1px solid lightgray;
    margin-bottom: 20px;
    padding: 20px 30px;
    cursor: pointer;
}

#toc ul {
    padding: 0;
    margin: 0;
}

#back {
    float: right;
    width: 50px;
    padding: 0px;
}

#detail {
    border: 1px solid lightgray;   
    padding: 20px 30px;
}

#detail .blog-entry-description,
#detail .blog-entry-date,
#detail .blog-entry-author { 
    display: none 
}

/* CODE */
/* code { color: #F9BB00; }

pre {
background: #333;
white-space: pre;
word-wrap: break-word;
overflow: auto;
}

pre code {
margin: 20px;
border-radius: 4px;
position: relative;

font-family: "Inconsolata","Monaco","Consolas","Andale Mono","Bitstream Vera Sans Mono","Courier New",Courier,monospace;
display: block;
overflow-x: auto;
font-size: 13px;
line-height: 19px;
color: white;
} */